<div class="ladytop" style="background: #fff">
    <div class="nav">
        <div class="left">
            <a href="">
                <img style="height: 50px;" src="__IMAGES__/logo.png" alt="wed114婚尚">
            </a>
        </div>
        <div class="right">
            <div class="box">
                <a href="#" rel='dropmenu209'>首页</a>
                <a href="#" rel='dropmenu209'>综合</a>
                <a href="#" rel='dropmenu209'>生活</a>
                <a href="/lookinward/public/labex-ui" rel='dropmenu209'>记事本</a>
                <a href="#" rel='dropmenu209'>组件库</a>
            </div>
            <div id="bdcs">
                <div class="bdcs-container">
                    <meta content="IE=9" http-equiv="x-ua-compatible">
                    <!-- 嵌入式 -->
                        <div class="input-group" style="transform:translateY(8px);padding-left: 50px;">
                            <form autocomplete="off" style="display: table;" method="get" action="{:url('Search/index')}">
                                <input type="text" placeholder="请输入关键词" class="form-control" name="keywords" autocomplete="off">
                                <span class="input-group-btn">
                                    <button style="background: blue;color:#fff;display:inherit;" class="btn btn-default" type="button">搜索</button>
                                </span>
                            </form>
                        </div>
                
                </div>
            </div>
        </div>
    </div>
</div>