<!DOCTYPE html>
<html>
{include file="base/head"}

<body>
    {include file="base/header"}
    <!-- /头部 -->

    <div class="main-container container-fluid">
        <div class="page-container">

            {include file="base/sidebar"}

            <div class="page-content">
                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                        <li class="active">控制面板</li>
                    </ul>
                </div>

                <div class="page-body">
                        <button type="button" tooltip="添加文章" class="btn btn-sm btn-azure btn-addon" onClick="javascript:window.location.href = '{:url('article/add')}'">
                            <i class="fa fa-plus"></i> Add
                        </button>
                        <div class="row">
                                <div class="col-lg-12 col-sm-12 col-xs-12">
                                    <div class="widget">
                                        <div class="widget-body">
                                            <div class="flip-scroll">
                                                <table class="table table-bordered table-hover">
                                                    <thead class="">
                                                        <tr>
                                                            <th class="text-center" width="8%">ID</th>
                                                            <th class="text-center">文章标题</th>
                                                            <th class="text-center">文章作者</th>
                                                            <th class="text-center">是否推荐</th>
                                                            <th class="text-center">缩略图</th>
                                                            <th class="text-center">所属栏目</th>
                                                            <th class="text-center" width="16%">操作</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {volist name="list" id="vo"}
                                                        <tr>
                                                            <td align="center">{$vo.id}</td>
                                                            <td align="center">{$vo.title}</td>
                                                            <td align="center">{$vo.author}</td>
                                                            <td align="center">
                                                                {if condition="$vo['state'] eq 1"}
                                                                已推荐
                                                                {else /}
                                                                未推荐
                                                                {/if}
                                                            </td>
                                                            <td align="center">
                                                                {if condition="$vo['pic'] neq '' "}
                                                                    <img src="{$vo.pic}" height="30" alt="">
                                                                {else /}
                                                                    暂无缩略图
                                                                {/if}
                                                            </td>
                                                            <td align="center">
                                                                {$vo.cate.catename}
                                                            </td>
                                                            <td align="center">
                                                                    <a href="{:url('article/edit',array('id'=>$vo['id']))}" class="btn btn-primary btn-sm shiny">
                                                                        <i class="fa fa-edit"></i> 编辑
                                                                    </a>
                                                                  
                                                                    <a href="#" onClick="warning('确认要删除吗', 
                                                                    '{:url('article/del',array('id'=>$vo['id']))}')" 
                                                                    class="btn btn-danger btn-sm shiny">
                                                                        <i class="fa fa-trash-o"></i> 删除
                                                                    </a>
                                                                 
                                                                </td>
                                                        </tr>
                                                        {/volist}
                                                    </tbody>
                                                </table>
                                            </div>
        
                                            <div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                </div>


            </div>
            <!-- /Page Body -->
        </div>
        <!-- /Page Content -->
    </div>
    </div>

    <!--Basic Scripts-->
    <script src="__ADMIN_STYLE__/jquery_002.js"></script>
    <script src="__ADMIN_STYLE__/bootstrap.js"></script>
    <script src="__ADMIN_STYLE__/jquery.js"></script>
    <!--Beyond Scripts-->
    <script src="__ADMIN_STYLE__/beyond.js"></script>



</body>

</html>