

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{include file='base/head'}
<style>
    body {
        background: #fff;
    }
    pre{
      border:0;
      color:unset;
    }
</style>
<body>
    {include file="base/header"}
    <div id="app">
      </div>
      <script src="/static/labex-ui/labex-ui.js"></script>
      <script src="/static/labex-ui/0.labex-ui.js"></script>



</body>

</html>
